#bongo_cat {
	position: relative;
	top: 0;
	left: 0;
}

#le_bongo_cat {
	-webkit-transform: rotate(-14deg);
	-moz-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	-o-transform: rotate(-14deg);
	transform: rotate(-14deg);
	margin-bottom: -35px;

	display: block;
	width: 269px;
	height: 165px;
	background-image: url("../img/cat-bongo.gif");
}