.invalid-input {
	color: #FF0000;
}

.t-fit {
	white-space: nowrap;
	width: 1%;
}

#fixed_bg {
	z-index: -9999;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}